.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    background-color: #262527;
    padding-bottom: 5rem;
}

.paraGenerator {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem;
    font-weight: 600;
    margin-top: 10rem;
}


span {
    color: white;
    font-size: 1rem;
    text-align: left;
    margin-left: 0;

}


.inputGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
    margin-top: 1.5rem;
}

.inputGroup input {
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
    width: 30rem;
}

.inputGroup button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #818181;
    color: white;
    cursor: pointer;
}

p {
    color: white;
    font-size: 1rem;
    text-align: center;
    margin: 0 10rem;
    margin-top: 2rem;
    text-align: justify;
}

.copy {
    color: white;
    background-color: #ffffff65;
    font-size: 1rem;
    text-align: center;
    margin-top: 2rem;
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.copy:hover {
    background-color: #ffffff;
    color: black;
}
